html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

h1 {
    font-size: 2em;

    margin: .67em 0;
}

a {
    background-color: transparent;
}

img {
    border-style: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
    -webkit-appearance: button;
}

.slick-slider {
    position: relative;

    display: block;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;

    display: block;

    margin-right: auto;
    margin-left: auto;
}

.slick-track:before,
.slick-track:after {
    display: table;

    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}

.slick-initialized .slick-slide {
    display: block
}

.slick-loading .slick-slide {
    visibility: hidden
}

.nice-select {
    font-family: inherit;
    font-size: 14px;
    font-weight: 400;
    line-height: 40px;
    position: relative;
    display: block;
    float: left;
    clear: both;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: auto;
    height: 42px;
    padding-right: 30px;
    padding-left: 18px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    text-align: left !important;
    white-space: nowrap;
    border: solid 1px #e8e8e8;
    border-radius: 5px;
    outline: 0;
    background-color: #fff;
    -webkit-tap-highlight-color: transparent
}

.nice-select:after {
    position: absolute;
    top: 50%;
    right: 12px;
    display: block;
    width: 5px;
    height: 5px;
    margin-top: -4px;
    content: '';
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 66% 66%;
    transform-origin: 66% 66%;
    pointer-events: none;
    border-right: 2px solid #999;
    border-bottom: 2px solid #999
}

.nice-select .list {
    position: absolute;
    z-index: 9;
    top: 100%;
    left: 0;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 4px;
    padding: 0;
    -webkit-transition: all .2s cubic-bezier(.5, 0, 0, 1.25), opacity .15s ease-out;
    transition: all .2s cubic-bezier(.5, 0, 0, 1.25), opacity .15s ease-out;
    -webkit-transform: scale(.75) translateY(-21px);
    transform: scale(.75) translateY(-21px);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    pointer-events: none;
    opacity: 0;
    border-radius: 5px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 0 1px rgba(68, 68, 68, .11);
    box-shadow: 0 0 0 1px rgba(68, 68, 68, .11)
}

.nice-select .option {
    font-weight: 400;
    line-height: 40px;
    min-height: 40px;
    padding-right: 29px;
    padding-left: 18px;
    list-style: none;
    cursor: pointer;
    -webkit-transition: all .2s;
    transition: all .2s;
    text-align: left;
    outline: 0
}

.nice-select .option.selected {
    font-weight: 700
}

* {
    margin: 0;
    padding: 0
}

ul {
    list-style: none
}

a {
    text-decoration: none
}

button {
    border: none;
    outline: 0;
    background: 0 0
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0
}

.btn {
    font-family: Circe-Bold;
    font-size: 1rem;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 1.25rem 1.5625rem;
    cursor: pointer;
    -webkit-transition: .3s;
    transition: .3s;
    text-align: center;
    white-space: nowrap;
    text-transform: uppercase;
    color: #fff;
    border-radius: .3125rem;
    background-color: #f75db8
}

@media (max-width: 768px) {
    .btn {
        font-size: .875rem;
        padding: .625rem .9375rem
    }
}

.btn-light {
    font-family: Circe-Bold;
    font-size: .875rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: .625rem 1.25rem;
    -webkit-transition: .3s;
    transition: .3s;
    text-transform: uppercase;
    color: #fff;
    border: .125rem solid #fff;
    border-radius: 1.5625rem
}

.input-text {
    font-size: 1.125rem;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 1.25rem 1.5625rem;
    color: #0d1d4a;
    border: none;
    border-radius: .3125rem;
    outline: 0;
    background-color: #f1f4f9
}

.input-text::-webkit-input-placeholder {
    color: #0d1d4a
}

.input-text::placeholder {
    color: #0d1d4a
}

.input-text::-webkit-input-placeholder {
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;
    opacity: 1
}

@media (max-width: 768px) {
    .input-text {
        font-size: .875rem;
        padding: .625rem .9375rem
    }
}

.select {
    font-size: 1.125rem;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: .625rem 1.5625rem;
    color: #0d1d4a;
    border: none;
    border-radius: .3125rem;
    outline: 0;
    background-color: #f1f4f9
}

@media (max-width: 768px) {
    .select {
        font-size: .875rem;
        line-height: normal;
        padding: .625rem .9375rem
    }
}

.select .list {
    width: 100%;
    border: .0625rem solid #f1f4f9
}

.select:after {
    margin-right: .9375rem
}

@media (max-width: 768px) {
    .select:after {
        margin-right: .3125rem
    }
}

html {
    font-family: Circe-Light;
    font-size: 16px;
    color: #0d1d4a
}

@media (max-width: 1024px) {
    html {
        font-size: 12px
    }
}

@media (max-width: 768px) {
    html {
        font-size: 16px;
        overflow-x: hidden;
        width: 100%
    }
}

body {
    overflow-x: hidden;
    width: 100%;
    min-width: 20rem
}

.template-base {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column
}

.header {
    position: absolute;
    z-index: 1;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 3.125rem 10% 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

@media (max-width: 768px) {
    .header {
        padding: 1.5625rem 5% 0
    }
}

.header__logo {
    display: block;
    max-width: 12.5rem
}

@media (max-width: 768px) {
    .header__logo {
        width: 8.125rem
    }
}

.footer {
    margin-top: auto
}

.footer-sub-banks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

@media (max-width: 768px) {
    .footer-sub-banks {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column
    }
}

.footer-sub-banks__title {
    font-size: .875rem
}

@media (max-width: 768px) {
    .footer-sub-banks__title {
        margin-bottom: .9375rem
    }
}

.footer-sub-banks__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.footer-sub-banks__list-item {
    height: 1.25rem;
    margin-left: 2.1875rem;
    text-align: center
}

@media (max-width: 768px) {
    .footer-sub-banks__list-item {
        width: 20%;
        margin: 0 .625rem
    }
}

.footer-sub-banks__img {
    display: block;
    height: 100%
}

@media (max-width: 768px) {
    .footer-sub-banks__img {
        width: 100%;
        -o-object-fit: contain;
        object-fit: contain
    }
}

.footer-sub {
    padding: 1.875rem 0;
    padding: 1.875rem 10%;
    background-color: #f1f4f9
}

@media (max-width: 768px) {
    .footer-sub {
        padding: 1.25rem 5%
    }
}

.footer-sub__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

@media (max-width: 768px) {
    .footer-sub__inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column
    }
}

.footer-sub__copyright {
    font-size: .875rem;
    margin-right: 1.5625rem
}

@media (max-width: 768px) {
    .footer-sub__copyright {
        margin-right: 0;
        margin-bottom: .625rem;
        text-align: center
    }
}

.footer-sub__confidentiality {
    font-family: Circe-Bold;
    font-size: .875rem;
    margin-right: 1.5625rem;
    -webkit-transition: .3s;
    transition: .3s;
    color: #0d1d4a
}

@media (max-width: 768px) {
    .footer-sub__confidentiality {
        margin-right: 0;
        margin-bottom: .625rem
    }
}

.layout-1 {
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10.9375rem 10% 9.375rem;
    background-image: url(../img/layout-1-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover
}

@media (max-width: 768px) {
    .layout-1 {
        padding: 5rem 5% 0;
        background-image: url(../img/layout-1-bg-mobile.jpg);
        background-attachment: initial
    }
}

.layout-1__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 5rem;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

@media (max-width: 768px) {
    .layout-1__main {
        position: relative;
        margin-bottom: .9375rem;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start
    }
}

.layout-1__info {
    position: relative;
    max-width: 50rem
}

@media (max-width: 768px) {
    .layout-1__info {
        position: static;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding-right: 20vw
    }
}

.layout-1__info-men {
    position: absolute;
    bottom: -13.375rem;
    left: -31.25rem;
    width: 28.125rem
}

@media (max-width: 1600px) {
    .layout-1__info-men {
        left: -28.125rem
    }
}

@media (max-width: 1200px) {
    .layout-1__info-men {
        left: -23.75rem
    }
}

@media (max-width: 1024px) {
    .layout-1__info-men {
        bottom: -14.125rem
    }
}

@media (max-width: 768px) {
    .layout-1__info-men {
        right: 0;
        bottom: -2.5rem;
        left: auto;
        width: 20vw;
        min-width: 7.1875rem
    }
}

@media (max-width: 480px) {
    .layout-1__info-men {
        right: -3.125rem;
        width: 10.625rem
    }
}

.layout-1__info-title {
    font-family: Circe-ExtraBold;
    font-size: 4.4375rem;
    line-height: 4.6875rem;
    margin-bottom: 1.875rem;
    text-transform: uppercase;
    color: #fff
}

@media (max-width: 1600px) {
    .layout-1__info-title {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column
    }
}

@media (max-width: 768px) {
    .layout-1__info-title {
        font-size: 1.5625rem;
        line-height: 1.5625rem;
        position: relative;
        z-index: 2;
        margin-bottom: .625rem
    }
}

.layout-1__info-title span {
    color: #ffd304
}

.layout-1__info-text {
    font-family: Circe-Light;
    font-size: 1rem;
    line-height: 1.25rem;
    max-width: 31.25rem;
    color: #fff
}

@media (max-width: 768px) {
    .layout-1__info-text {
        font-size: .75rem;
        line-height: 1.0625rem;
        position: relative;
        z-index: 2
    }
}

.layout-1 .form-marketeng {
    position: relative;
    margin-bottom: -18.75rem
}

@media (max-width: 768px) {
    .layout-1 .form-marketeng {
        position: relative;
        bottom: -.9375rem;
        left: -6%;
        width: calc(102% + 5% * 2);
        margin-bottom: 0
    }
}

.layout-2 {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 12.5rem 10% 2.1875rem
}

@media (max-width: 768px) {
    .layout-2 {
        padding: 3.125rem 5% 1.875rem
    }
}

.layout-2 .slick-list {
    margin: 0 -1.25rem
}

@media (max-width: 768px) {
    .layout-2 .slick-list {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin: 0 -.625rem;
        padding: 0 2.5rem
    }
}

.layout-2 .slick-slide {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 1.25rem
}

@media (max-width: 768px) {
    .layout-2 .slick-slide {
        padding: 0 .625rem
    }
}

.layout-2 .slick-arrow {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    overflow: hidden;
    width: 3.125rem;
    height: 3.125rem;
    margin: auto;
    cursor: pointer;
    -webkit-transition: .3s;
    transition: .3s;
    color: transparent;
    border: .25rem solid #fff;
    border-radius: 50%;
    background-color: #f1f4f9;
    background-image: url(../img/sprite.svg#i-arrow);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%
}

@media (max-width: 768px) {
    .layout-2 .slick-arrow {
        width: 2.5rem;
        height: 2.5rem
    }
}

.layout-2 .slick-arrow.slick-prev {
    left: -1.5625rem;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

@media (max-width: 768px) {
    .layout-2 .slick-arrow.slick-prev {
        left: 1.25rem
    }
}

.layout-2 .slick-arrow.slick-next {
    right: -1.5625rem
}

@media (max-width: 768px) {
    .layout-2 .slick-arrow.slick-next {
        right: 1.25rem
    }
}

@media (max-width: 768px) {
    .layout-2__slider {
        position: relative;
        left: -6%;
        width: calc(102% + 5% * 2)
    }
}

.form-marketeng {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 2.5rem 5rem;
    border-radius: 9.375rem;
    background-color: #fff;
    -webkit-box-shadow: 0 .625rem 1.5625rem rgba(147, 161, 200, .25);
    box-shadow: 0 .625rem 1.5625rem rgba(147, 161, 200, .25);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

@media (max-width: 768px) {
    .form-marketeng {
        padding: 1.25rem;
        border-radius: .9375rem
    }
}

.form-marketeng__title {
    font-family: Circe-Bold;
    font-size: 1.875rem;
    margin-bottom: 1.875rem;
    text-align: center
}

@media (max-width: 768px) {
    .form-marketeng__title {
        font-size: 1.125rem;
        margin-bottom: .9375rem
    }
}

.form-marketeng__main {
    display: grid;
    width: 100%;
    margin-bottom: 1.875rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: .9375rem
}

@media (max-width: 768px) {
    .form-marketeng__main {
        display: block;
        margin-bottom: 1.25rem
    }

    .form-marketeng__main .input-text,
    .form-marketeng__main .select {
        margin-bottom: 1.25rem
    }
}

.form-marketeng__discount {
    font-family: Circe-Bold;
    font-size: 1.125rem;
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: .9375rem 1.5625rem;
    text-align: center;
    color: #fff;
    border-radius: 3.125rem;
    background-color: #0d1d4a
}

@media (max-width: 768px) {
    .form-marketeng__discount {
        font-size: .875rem;
        padding: .9375rem
    }
}

.form-marketeng__discount-emoji:first-child {
    margin-right: .625rem
}

@media (max-width: 768px) {
    .form-marketeng__discount-emoji:first-child {
        margin-right: .3125rem
    }
}

.form-marketeng__discount-emoji:last-child {
    margin-left: .625rem
}

@media (max-width: 768px) {
    .form-marketeng__discount-emoji:last-child {
        margin-left: .3125rem
    }
}

.review {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 2.8125rem 2.5rem;
    border-radius: 1.5625rem;
    background-color: #f1f4f9
}

@media (max-width: 768px) {
    .review {
        padding: 1.25rem 1.875rem
    }
}

.review__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: .625rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.review__header-name {
    font-size: .75rem;
    margin-right: .625rem
}

@media (max-width: 768px) {
    .review__header-name {
        margin-bottom: .3125rem
    }
}

@media (max-width: 768px) {
    .review__header {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: start;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: start
    }
}

.review__title {
    font-family: Circe-Bold;
    font-size: 1.125rem;
    line-height: 1.375rem;
    margin-bottom: .625rem
}

@media (max-width: 768px) {
    .review__title {
        font-size: .875rem;
        line-height: 1.125rem
    }
}

.review__text {
    font-size: 1rem;
    line-height: 1.25rem;
    margin-bottom: .9375rem
}

@media (max-width: 768px) {
    .review__text {
        font-size: .875rem;
        line-height: 1.125rem
    }
}

.review__rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.review__rating-text {
    font-family: Circe-Bold;
    font-size: 1.125rem;
    margin-right: .625rem
}

@media (max-width: 768px) {
    .review__rating-text {
        font-size: .875rem
    }
}

.review__rating-value {
    font-family: Circe-Bold;
    font-size: .875rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: .3125rem .625rem;
    color: #fff;
    border-radius: 1.25rem;
    background-color: #ffd304;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.review__rating-value:before {
    display: block;
    width: .75rem;
    height: .75rem;
    margin-right: .3125rem;
    content: '';
    background-image: url(../img/sprite.svg#i-star);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover
}